body{
  background-color: black;
}

@font-face {
  font-family: 'witched';
  src: url('assets/witches_magic/Witches Magic.ttf');
}
@font-face {
  font-family: 'runes';
  src: url('assets/RUNE.TTF');
}

#title{
text-align:center;
width:100%;
font-size:60px;
color:white;
font-family: 'witched';
}
#title-content{
  text-align:center;
  height :100%;
}

#credits{
  font-size: 10px;
  color:white;
  position:absolute;
  right: 0px;
  bottom: 0px;
}

#content-border{
	background-color: black;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 840px;
    height: 640px;
}
#content{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    z-index:2;
}
#window{
  z-index: 1;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
}

#believe{
  background-color:black;
  color: white;
  font-size:30px;
  border-color: white;
  font-family: 'witched';
}
#start{
  background-color:black;
	color: white;
	font-size:40px;
	border-color: white;
  font-family: 'witched';
}
#month{
  background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';
}

#date{
  background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';
}

#runes-left{
  visibility: hidden;
  color: white;
  font-family: "runes";
  text-orientation: upright;
  writing-mode: vertical-rl;
  position:absolute;
  bottom:20;
  font-size:30px;
  left:20;
}
#runes-right{
  visibility: hidden;
  color: white;
  font-family: "runes";
  text-orientation: upright;
  writing-mode: vertical-rl;
  position:absolute;
  top:20;
  font-size:30px;
  right:20;
}
