body{
    background-color: #E6E7E8;
    overflow-x: hidden;
    overflow-y: hidden;
}

#banner{
    background-color: #96C9DC;
    box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.1)
}

.card{
    background-color: white;
    border-radius: 5px;
    width: 75%;
    margin: auto;
    height: 200px;
    box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.1)
}

.card-container{
    padding-right: 20px;
    padding-left: 20px;
}

#weather-container{
    width: 100%;
    height: 75%;
}

#wind-container, #humidity-container{
    width: 33%;
}


#forecast-container{
    padding-top: 0px;
}

#bgBlobBlue{
    position: absolute;
    bottom: -65px;
    right: -65px;
    z-index: -1;
    height: 450px;
    width: auto;
  }
  #bgBlobPink{
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: -1;
    height: 450px;
    width: auto;
    top: -15px;
    left: -75px;
    z-index: -1;
  }