/* Begin Code From https://www.gradient-animator.com/ */
body {
    background: linear-gradient(325deg, #ff7afa, #837aff, #e125ff, #c3ff92, #9ffff7, #f6f984);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
/* End Code from https://www.gradient-animator.com/ */

/* Start Code From: https://codemyui.com/wavy-text-bouncy-letter-animation/ */
h1 span {
    position: relative;
    padding-left: 3%;
    top: 20px;
    display: inline-block;
    animation: bounce 1.5s ease infinite alternate, tilt 30s ease infinite alternate;
    font-family: orangeJuice, courier;
    font-size: 80px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .4s; }
  h1 span:nth-child(4) { animation-delay: .1s; }
  h1 span:nth-child(5) { animation-delay: .7s; }
  h1 span:nth-child(6) { animation-delay: .1s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .1s; }

  @keyframes tilt {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-20deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-20deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-20deg); }
    80% { transform: rotate(10deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-20deg); }
  }

  
  @keyframes bounce {
    100% {
      top: -10px;
    }
}
/* End code from https://codemyui.com/wavy-text-bouncy-letter-animation/ */

body{
    overflow-x: hidden;
}

#mainCanvas{
    height: 80%;
    width: 80%;
}

@font-face {
    font-family: orangeJuice;
    src: url('./assets/Globbies-Regular.ttf');
  }

#title{
    width: 100%;
    text-align: center;
    font-size: 80px;
    top: -5%;
    position:absolute;
}
