body{
  background-color: black;
}

@font-face {
  font-family: 'witched';
  src: url('assets/witches_magic/Witches Magic.ttf');
}
@font-face {
  font-family: 'witched2';
  src: url('assets/witched/Witched.ttf');
}
@font-face {
  font-family: 'runes';
  src: url('assets/RUNE.TTF');
}

#input{
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#title{
text-align:center;
width:100%;
font-size:60px;
color:white;
font-family: 'witched';
}
#title-content{
  text-align:center;
}

#credits{
  font-size: 10px;
  color:white;
  position:absolute;
  right: 0px;
  bottom: 0px;
}

#content-border{
	background-color: black;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 840px;
    height: 640px;
}
#content{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    z-index:2;
}

#believe{
  background-color:black;
  color: white;
  font-size:30px;
  border-color: white;
  font-family: 'witched';
}
#start{
  background-color:black;
	color: white;
	font-size:40px;
	border-color: white;
  font-family: 'witched';
}
#month{
  background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';
}

#date{
  background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';
}
#ball{
visibility: hidden;
background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';


}
#cards{
visibility: hidden;
background-color:black;
color: white;
font-size:30px;
border-color: white;
font-family: 'witched';

}

#runes-left{
  visibility: hidden;
  color: white;
  font-family: "runes";
  text-orientation: upright;
  writing-mode: vertical-rl;
  position:absolute;
  bottom:20;
  font-size:30px;
  left:20;
}
#runes-right{
  visibility: hidden;
  color: white;
  font-family: "runes";
  text-orientation: upright;
  writing-mode: vertical-rl;
  position:absolute;
  top:20;
  font-size:30px;
  right:20;
}
#horoscope-text{
  visibility: hidden;
  color:black;
  font-size:40px;
  position: absolute;
    top:25%;
    left:24%;
    z-index:99999;
    font-family: 'witched2';
    width:50%;
    text-align:center;
}
#tarot-text{
  visibility: hidden;
  color:white;
  font-size:40px;
  position: absolute;
    bottom:5%;
    z-index:99999;
    left:10%;
    font-family: 'witched2';
    width:80%;
    text-align:center;
}
#tarot-title{
  visibility: hidden;
  color:white;
  font-size:40px;
  position: absolute;
    top:3.5%;
    z-index:99999;
    left:10%;
    font-family: 'witched2';
    width:80%;
    text-align:center;
}
#tarot-card{
  width:260px;
  height:400px;
  visibility: hidden;
  color:white;
  font-size:40px;
  position: absolute;
  top: 12%;
  left:33%;
  margin: auto;
  z-index:99999;
  background-size: cover;
}
