html,
body {
  overflow-x: hidden;
  height: 100%;
}

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

h1{
  color: white;
}

.content{
  background-color: rgba(255, 255, 255, 0.8); 
  text-align: center;
  border:solid 1px;
  border-color:#ffe2f5;
  width: 66%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 30px;
  margin-top: 165px; 

}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 5% !important; 
  }
  body {
    height: 120%;
  }
}

.pages{
  background-color: black;
  width: 100%;
  height: 50px;
  color:white;
  border-radius: 5px;
  line-height: 50px;
  overflow: hidden;
}

.pages a{
  color: white;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  display: block;
}

#translucent {
  background-color: rgba(27, 61, 206, 0.3); 
  position: absolute;
  top: 0;
  left: 0;
  height: 600%; 
  width: 600%;
  min-width: 500%;
  min-height: 500%;
  z-index: -1;
  backdrop-filter: blur(6px);
}
#bgImage {
  background-image: url('../assets/bg.png');
  animation: spinBG 160s linear infinite;
  position: absolute;
    top: -200%;
    left: -200%;
    height: 600%; 
    width: 600%;
    min-width: 500%;
    min-height: 500%;
    z-index: -2;
}

@keyframes spinBG {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

table{
  margin: auto;
  width: 66%;
}

table td{
  width: 33%;
  
}
