html,
body {
  overflow-x: hidden;
  height: 100%;
}

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

h1{
  color: #0B103F;
  padding: 10px 20px;
  margin: 0px;
}

#info-name{
  width: 100%;
  position: absolute;
  left: 15px;
}

#my-info{
  width: 100%;
}

#info-links{
  position:absolute;
  bottom: 10px;
  padding-left: 10px;
}

#info-links i{
  padding-right: 10px;
}

.info-container{
  background-color: white;
  border-radius: 5px;
  height: 260px;
  width: 230px;
  position: absolute;
  right: 35px;
  bottom: 65px;
  z-index: 5;
  text-align: left;
  box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.18)
}

.content{
  background-color: rgba(255, 255, 255, 0.8); 
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 30px;
  margin-top: 165px; 
  box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.18)
}

.project-container{
  width: 85%;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 5% !important; 
  }
  body {
    height: 120%;
  }
}

.pages{
  background-color: black;
  width: 100%;
  height: 50px;
  color:white;
  border-radius: 5px;
  line-height: 50px;
  overflow: hidden;
}

.pages a{
  color: white;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  display: block;
}

#translucent {
  background-color: #EFEFEF; 
  position: absolute;
  top: 0;
  left: 0;
  height: 600%; 
  width: 600%;
  min-width: 500%;
  min-height: 500%;
  z-index: -1;
  backdrop-filter: blur(6px);
}
.banner{
  background-color: rgba(255, 255, 255, 0.7); 
  width: 100%;
  padding-bottom: 1px;
  box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.18)
}

#art-toggle-container{
  color: #0B103F;
  width: 100%;
}

#toggle-table{
  padding:0px;
  width: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

#toggle-table tr{
  padding-top: 18px;
}

#toggle-table td{
  width: auto;
}

#button-td{
  padding-left: 40px;
  padding-right: 20px;
}

#art-toggle{
  position: absolute;
  top: 0px;
}

#bgBlob {
  position: absolute;
  bottom: 0px;
  right: -40px;
  z-index: 1;
  height: 450px;
  width: auto;
}

#self-portrait{
  border-radius: 50%;
  z-index: 5;
  height: 100px;
  width: auto; 
  top: 15px;
  right: 10px;
  position: absolute;
}

#bgImage {
  background-image: url('../art-content/assets/bg.png');
  animation: spinBG 160s linear infinite;
  position: absolute;
  top: -200%;
  left: -200%;
  height: 600%; 
  width: 600%;
  min-width: 500%;
  min-height: 500%;
  z-index: -2;
  display: none;
}

@keyframes spinBG {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

table{
  margin: auto;
  width: 66%;
}

table td{
  width: 33%;
  
}

/* toggle color customize */

.form-check-input[type=checkbox]:checked{
  background-color: #8934CF !important;
}

.form-switch .form-check-input:checked[type=checkbox]:after {
  background-color: #8934CF !important;
}

.btn-light:hover{
  background-color: #b0b0b0 !important;
}